$clr: (
	blue-0: #005773,
	blue-10: #006889,
	blue-20: #007aa0,
	blue-30: #008bb7,
	blue-40: #009dce,
	blue-50: #00aee5,
	blue-60: #1ab6e8,
	blue-70: #33beea,
	blue-80: #4dc6ed,
	blue-90: #66ceef,
	blue-100: #d8f6ff,

	green-0: #084937,
	green-10: #0c6e52,
	green-20: #0e8060,
	green-30: #10926e,
	green-40: #12a57b,
	green-50: #14b789,
	green-60: #2cbe95,
	green-70: #43c5a1,
	green-80: #72d4b8,
	green-90: #8adbc4,
	green-100: #d5f8ef,

	purple-0: #40186f,
	purple-10: #4d1c85,
	purple-20: #5a219b,
	purple-30: #6626b2,
	purple-40: #732ac8,
	purple-50: #802fde,
	purple-60: #8d44e1,
	purple-70: #b382eb,
	purple-80: #c097ef,
	purple-90: #d9c1f5,
	purple-100: #e8e2f7,
);