#terms {
	main {
		min-height: 88vh;
	}

	.lead strong {
		font-weight: 600;
	}

	.display-1 {
		font-weight: 600;
		letter-spacing: -3px;
	}

	.lead{
		line-height: 2;
	}

	.accordion-body {
		line-height: 1.8;
	}
}