.navbar-toggler {
	outline: none !important;
	box-shadow: none !important;
	border: none !important;
}

.navbar-toggler:focus {
	outline: none;
	box-shadow: none;
}

.navbar-brand i{
	font-size: 1.8rem;
	padding: 0;
	margin: 0;
}